.content {
	overflow: hidden;
}
p {
	font-size: 16px;
	color: #444;
	margin: 10px 0 10px 0;
}
#iframe{
	height: 331px;
	width: 368px;
	
	}
.demo1{
	height: 300px;
	width:390px;
	background: url(../images/1.jpeg) no-repeat;
        background-size: cover;
        background-position: center;
     }
.demo2{
	height: 300px;
	width:390px;
	background: url(../images/2.jpeg) no-repeat;
        background-size: cover;
        background-position: center;

     }
.demo3{
	height: 300px;
	width:390px;
	background: url(../images/3.jpeg) no-repeat;
        background-size: cover;
        background-position: center;

     }
.demo4{
	height: 300px;
	width:390px;
	background: url(../images/4.jpeg) no-repeat;
        background-size: cover;
        background-position: center;

     }
.demo5{
	height: 300px;
	width:390px;
	background: url(../images/5.jpeg) no-repeat;
        background-size: cover;
        background-position: center;

     }
.demo6{
	height: 300px;
	width:390px;
	background: url(../images/6.jpeg) no-repeat;
        background-size: cover;
        background-position: center;

     }
.demo7{
	height: 300px;
	width:390px;
	background: url(../images/7.jpeg) no-repeat;
        background-size: cover;
        background-position: center;
     }
#outer {
	display: inline-block;
	border: 0;
	position: relative;
	overflow: hidden;
}
.zoomad
{

    background-position:center;
    transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
}
.zoomoutad
{
   transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
}
