.content {
	overflow: hidden;
}
p {
	font-size: 16px;
	color: #444;
	margin: 10px 0 10px 0;
}
#iframe{
	height: 313px;
   	 width: 362px;
	}
.row{
	border-style:solid;
	height: 300px;
	width:356px;
	background-size: cover;
        background-position: center;
}
#demo1{
	background: url(../images/1.jpg) no-repeat;
}
#demo2{
	background: url(../images/2.jpg) no-repeat;
}
#demo3{
	background: url(../images/3.jpg) no-repeat;
}
#demo4{
	background: url(../images/4.jpg) no-repeat;
}
#demo5{
	background: url(../images/5.jpg) no-repeat;
}
#demo6{
	background: url(../images/6.jpg) no-repeat;
}
#demo7{
	background: url(../images/7.jpg) no-repeat;
}
#outer {
	display: inline-block;
	border: 0;
	position: relative;
	overflow: hidden;
	height:303px;
	width:362px;
}
#test{
	height: 300px;
}
